<div class="container navless-container">
   <div class="content">
      <div class="row">
         <div class="col-md-8">
            <h3 class="page-title">
                   <img src="<%= image_path('plazma2.jpg')%>" alt="">
                      Plazma keks
                    <small> Bambi a.d. Požarevac</small></h3>
                    <hr>
                    <h4>Poslednje dopune i promjene o proizvodu:</h4>

         <div class="event-block event-item">
             <span class="cgray pull-right">
                  <time data-original-title="Jun 18, 2014 6:20am" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-18T06:20:09Z" title="">prije 42 minuta</time>
                     <script>$('.time_ago').timeago().tooltip()</script></span>
             <img alt="" class="avatar s24" width="28" src="<%= image_path('person1.jpg')%>
             ">

   <div class="event-title">
       <span class="author_name"><a href="/u/JobV">Irena Matković</a></span>
           <span class="event_label pushed">izvršila je promjene o proizvodu</span>
               <a href="/gitlab-com/www-gitlab-com/commits/master"><strong>Plazma keks</strong></a>
       </div>
       <div class="event-body">
          <ul class="well-list event_commits">
             <li class="commit">
                 <div class="commit-row-title">
                     Kompletirana tabela o svim nutritivnim vrijednostima proizvoda.
                 </div>
             </li>
          </ul>
       </div>
    </div>


   <div class="event-block event-item">
       <span class="cgray pull-right">
          <time data-original-title="Jun 18, 2014 5:47am" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-18T05:47:14Z" title="">prije 2 sata</time>
              <script>$('.time_ago').timeago().tooltip()</script></span>
                  <img alt="" class="avatar s24" width="28" src="<%= image_path('person2.jpeg')%>
             ">


       <div class="event-title">
          <span class="author_name"><a href="/u/JobV">Maja Kojić</a></span>
           <span class="event_label pushed">izvršila je promjene o proizvodu</span>
               <a href="/gitlab-com/www-gitlab-com/commits/master"><strong>Plazma keks</strong></a>
       </div>
       <div class="event-body">
          <ul class="well-list event_commits">
             <li class="commit">
                 <div class="commit-row-title">
                     Upisan je još jedan alergen koji se može naći u ovom proizvodu.
                 </div>
             </li>
          </ul>
       </div>
    </div>


  <div class="event-block event-item">
       <span class="cgray pull-right">
            <time data-original-title="Jun 17, 2014 12:10pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-17T12:10:12Z" title="">prije 5 sati</time>
                  <script>$('.time_ago').timeago().tooltip()</script></span>
                        <img alt="" class="avatar s24" src="https://secure.gravatar.com/avatar/07e1e9ffdda52d8c519ac5c49929d7dc?s=28&amp;d=mm">

      <div class="event-title">
          <span class="author_name"><a href="/u/JobV">Miloš Ćuk</a></span>
           <span class="event_label pushed">izvršila je promjene o proizvodu</span>
               <a href="/gitlab-com/www-gitlab-com/commits/master"><strong>Plazma keks</strong></a>
       </div>
    <div class="event-body">
          <ul class="well-list event_commits">
             <li class="commit">
                 <div class="commit-row-title">
                     Dopisan je besplatni broj na koji se može kontaktirati proizvođač.
                 </div>
             </li>
          </ul>
       </div>
    </div>
 
   
   <div class="event-block event-item">
       <span class="cgray pull-right">
             <time data-original-title="Jun 17, 2014 12:04pm" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-17T12:04:20Z" title="">prije 17 sati</time>
                 <script>$('.time_ago').timeago().tooltip()</script></span>
                     <img alt="" class="avatar s24" width="28" src="<%= image_path('person3.jpeg')%>">

       <div class="event-title">
          <span class="author_name"><a href="/u/JobV">Mirjana Dević</a></span>
           <span class="event_label pushed">izvršila je promjene o proizvodu</span>
               <a href="/gitlab-com/www-gitlab-com/commits/master"><strong>Plazma keks</strong></a>
       </div>
      <div class="event-body">
          <ul class="well-list event_commits">
             <li class="commit">
                 <div class="commit-row-title">
                     Upisano je da su u proizvodnji primjenivani HACCP i HALAL sertifikati.
                 </div>
             </li>
          </ul>
       </div>

</div>

  <div class="event-block event-item">
      <span class="cgray pull-right">
          <time data-original-title="Jun 17, 2014 8:34am" class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2014-06-17T08:34:40Z" title="">prije 23 sata</time>
              <script>$('.time_ago').timeago().tooltip()</script></span>
                  <img alt="" class="avatar s24" width="28" src="<%= image_path('person4.jpg')%>">

      <div class="event-title">
          <span class="author_name"><a href="/u/JobV">Haris Merdović</a></span>
           <span class="event_label pushed">izvršila je promjene o proizvodu</span>
               <a href="/gitlab-com/www-gitlab-com/commits/master"><strong>Plazma keks</strong></a>
       </div>

      <div class="event-body">
          <ul class="well-list event_commits">
             <li class="commit">
                 <div class="commit-row-title">
                     Upisan je još jedan alergen koji se može naći u ovom proizvodu.
                 </div>
             </li>
          </ul>
       </div>
</div>
</div>



  <div class="col-md-4">
     <div class="ui-box">
        <div class="title">
         Osnovne informacije
        </div>
      <ul class="well-list">
          <li>
              <span class="light">Proizvođač: </span><strong> Bambi a.d. Požarevac</strong>
          </li>
           <li>
              <span class="light">Osnovano:</span><strong> 1967 godine</strong>
           </li>
            <li>
                <span class="light">Grad / Država:</span><strong>  Požarevac, Srbija</strong>
            </li>
            <li>
                 <span class="light">Email:</span><strong><a href="http://www.twitter.com/@jobv"> office@bambi.rs</a></strong>
             </li>
             <li>
                 <span class="light">Website:</span>
                 <strong> <a href="http://www.jobvandervoort.com"> www.bambi.rs</a></strong>
              </li>
          </ul>
        </div>

     <div class="ui-box">
         <div class="title">Glavne karakteristike</div>
            <ul class="well-list">
                <li><span class="namespace-name">Doprinosi redukovanju umora</span></li>
                <li><span class="namespace-name">Doprinosi normalnoj razmeni energije u organizmu</span></li>
                <li><span class="namespace-name">Povećava apsorpciju gvožđa</span></li>
                <li><span class="namespace-name">Važna za imuni sistem</span></li>
                <li><span class="namespace-name">Ne sadrži trans masti</span></li>
                <li><span class="namespace-name">Pogodna za vegetarijance</span></li>
             </ul>
         </div>
      </div>
    </div>
  </div>
</div>